.banner {
    // min-height: 600px;
    // padding: 6rem 0;
    text-align: center;
    position: relative;
    margin-top: 0px;
  
    @media (min-width: 1024px) {
      // padding-top: 12rem;
      padding-bottom: 0;
      text-align: left;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  
    .banner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
     
  
      @media (min-width: 1024px) {
        flex-direction: row;
      }
    }
  
    .banner-text {
      max-width: 440px;
      
      h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
  
        @media (min-width: 1024px) {
          font-size: 3rem;
          line-height: 1.3;
        }
      }
  
      p {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }
  
    .banner-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;
  
      a {
        border-bottom: 2px solid transparent;
        transition: 0.3s ease-in-out;
        
        &:hover {
          border-bottom: 2px solid black;
        }
      }
    }
  
    .btn {
      background-color: #ffcc00;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      
      &:hover {
        background-color: #e6b800;
      }
    }
  
    .banner-image {
      img {
        width: 100%;
        max-width: 500px;
        margin-left: 240px;
      }
    }
  }
  